* {
  margin: 0;
  padding: 0;
  box-sizing: auto;
}
/*---------- fuentes------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600&display=swap');
@font-face {
  font-family:"Remboy" ;
  src: url(FUENTES/RemboyRegular.ttf);
}
:root {
    --background-color: #EFD4F0;
    --letra:#000000;
    --fuente1: 'Inter', sans-serif;
    --fuente2:"Remboy";
    --colorlinea: #FDFF0A;
}

/* ------------------------INICIO DE BODY Y DEL DOCUMENTO--------------------- */

body {
 background-color: var(--background-color);
}


  /*--------------- INICION DEL HEADER + NAVEGADOR -------------------- */

  @media (min-width: 375px) and (max-width: 720px){
  .header{
    display: flex;
    justify-content: center;
    column-gap: 20%;
    align-items: center;
    padding: 2%;
    margin-top: 5%;
    height: 50px;
  }
  .nomb-logo {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 20px;
    padding: 0.4%;
    font-size: 80%;
    font-family: var(--fuente1);
    letter-spacing: .2rem;
    
  }
}
/* ---------------------------PRSENTACION---------------------------------- */

@media (min-width: 375px) and (max-width: 720px){

main {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-left: 2%;
}

.presentacion{
  display: flex;
  flex-direction: column;
  align-items: left;
  /* background-color: yellow; */
  margin: 5%;
}
.textoestilo{
  font-family: var(--fuente2);
  font-size: 6rem;
  line-height: 100px;
  text-decoration-line:solid #000000 50px ;
}
.agrupar{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  /* background-color: blue; */
  width: 90%;
}
.subrayado{
  border: 3px solid #FDFF0A;
}
.frase2-imagen{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0;
  /* background-color: yellow; */
  width: 100%;
}
.frase4-imagen{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0;
  width: 100%;
  position: relative;
}
  /* animación salad */
  
  .rotate-center{
    -webkit-animation: rotate-center 20s ease-in-out both;
            animation: rotate-center 20s ease-in-out both;
  }
  @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

.bilbao{
  position: posi;
}
.estrella-roja{
  position: absolute;
  scale: 80%;
  z-index:-2;
  left: -20px;
  top: -10px;
}

/* ------------------------boton comprar------------------------------------- */
.comprar{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-block-start: 12%;
}
.button{
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 34px;
  background-color: transparent;
  font-family: var(--fuente1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 70px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color:#FDFF0A;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.button:active {
  scale: 1;
}
.movsalad{
  display: none;
}
}


/* ------------frasecita----------------- */

@media (min-width: 375px) and (max-width: 720px){
.frase-estrellas{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;

}

.textofrase{
  font-family: var(--fuente1);
  font-weight: 400;
  font-size: 1.1em;
  height: 20vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-image: url(/imagenes/grupoamarillostars.svg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;


}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 50%;
  width: 100%;
  margin-top: 0;
}



.rotate-scale-down2 {
	-webkit-animation: rotate-scale-down 0.65s linear both;
	        animation: rotate-scale-down 0.65s linear both;
}

 @-webkit-keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
            transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
            transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
}

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.nosotres{
  display: flex;
  flex-direction:row ;
  align-items: center;
  font-family: var(--fuente2);
  font-size: 4em;
  margin-bottom: 5%;
}

.foto-local{
  margin-bottom: 5%;
}

.texto-nosotres{
  font-family: var(--fuente1);
  font-variant-caps: all-petite-caps;
  text-align: center;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}
.bola-amarilla{
  position: absolute;
  z-index: -2;

}
.linea-nos{
  width: 31px;
height: 0px;
border: 2px solid #000000;
}

/* <!---------------------REPARTO---------------------------> */
.reparto{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 10%;

}
.moto{
  display: flex;
  align-items: center;
  justify-content: center;

}
.texto-reparto{
  font-family: var(--fuente1);
  font-size: 1em;
  letter-spacing: 0.22em;
  font-weight: 500;
  width: 50%;
  
}
.titular-reparto {
font-weight: bold;

}