* {
  margin: 0;
  padding: 0;
  box-sizing: auto;
}
/*---------- fuentes------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600&display=swap');
@font-face {
  font-family:"Remboy" ;
  src: url(FUENTES/RemboyRegular.ttf);
}
:root {
    --background-color: #EFD4F0;
    --letra:#000000;
    --fuente1: 'Inter', sans-serif;
    --fuente2:"Remboy";
    --colorlinea: #FDFF0A;
}

/* ------------------------INICIO DE BODY Y DEL DOCUMENTO--------------------- */

body {
 background-color: var(--background-color);
}

/*--------------- INICION DEL HEADER + NAVEGADOR -------------------- */
.manchitas-fondo{
  width: 100%;
  height: 100vh;
  background-image: url("/imagenes/manchamor.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
.nomb-logo {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.4%;
  font-size: 80%;
  font-family: var(--fuente1);
  letter-spacing: .2rem;
  
}
.navegador{
  position: relative;
  width: 50%;
}

.menu{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.click{
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

.modal-nav{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: var(--fuente1);
}
/*------------------ TITULO DE LA PAGINA + IMAGEN --------------------*/
.texto-imagenpresent{
  width: 100%;
  margin-block-start: 2%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0eb4c0;

}
.frase1{

  display: flex;
  flex-direction: row;
  background-color: #ba2929;

}
.estilo-texto{
  font-family: var(--fuente2);
  font-size: 7rem;
}
.frase2-ensalada{
  display: flex;
}


/*------ boton comprar------------- */
.comprar{
  display: flex;
  width: 100%;
  margin-block-start: 5%;
}
.button{
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 34px;
  background-color: transparent;
  font-family: var(--fuente1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(193, 163, 98);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.button:active {
  scale: 1;
}
/*----------------- ESLOGAN + MANCHAS AMARILLAS------------------------- */
.texto-eslogan{
  margin-block-start: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  z-index: -1;

}
.textoesl{
  /* background-color: pink; */
  width: 55%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fuente1);
  font-weight: 400;
  font-size: 1.5em;
  background-image: url(/imagenes/grupoamarillostars.svg);
  background-repeat: no-repeat;
  background-size: cover;

}





































@media (max-width: 320px), (max-height: 480px) {
  .header {
    position: fixed;
  }

  .titulocaja {
    margin-top: 15%;
  }

  .click {
    opacity: 1;
  }

  #click {
    opacity: 0;
  }

  .navegador .menu-btn i {
    display: block;
    width: 50%;
  }

  .navegador {
    width: 10%;
    margin-bottom: 5%;
  }

  .navegador ul {
    position: fixed;
    left: -100%;
    background: #111;
    height: 90vh;
    width: 50%;
    text-align: center;
    display: block;
    flex-wrap: wrap;
    transition: all 0.3s ease;
  }

  #click:checked ~ ul {
    left: 0;
  }

  .navegador  ul li {
    width: 100%;
    margin: 40px 0;
  }

  .navegador  ul li a:hover {
    background: none;
    color: rgb(255, 0, 242);
  }

  .navegador  ul li a {
    /* width: 100%; */
    color: white;
    text-decoration: none;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked ~ ul li a {
    margin-left: 0px;
  }

 }

 