* {
  margin: 0;
  padding: 0;
  box-sizing: auto;
}
/*---------- fuentes------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600&display=swap');
@font-face {
  font-family:"Remboy" ;
  src: url(FUENTES/RemboyRegular.ttf);
}
:root {
    --background-color: #EFD4F0;
    --letra:#000000;
    --fuente1: 'Inter', sans-serif;
    --fuente2:"Remboy";
    --colorlinea: #FDFF0A;
}


/* ------------------------INICIO DE BODY Y DEL DOCUMENTO--------------------- */

body {
 background-color: var(--background-color);
}
@media (min-width: 620px) {
  
}
.presentacion-desktop {
display: flex;
}
  /*--------------- INICION DEL HEADER + NAVEGADOR -------------------- */

  
  .header{
    display: flex;
    justify-content: center;
    column-gap: 20%;
    align-items: center;
    padding: 2%;
    margin-top: 5%;
    height: 50px;
  }
  .nomb-logo {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 20px;
    padding: 0.4%;
    font-size: 80%;
    font-family: var(--fuente1);
    letter-spacing: .2rem;
    
  }

/* ---------------------------PRSENTACION---------------------------------- */

main {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-left: 2%;
  /* background-color: yellow; */
}

.presentacion-mov{
  display: flex;
  flex-direction: column;
  align-items: left;
  /* background-color: yellow; */
  margin: 5%;
}
.textoestilo{
  font-family: var(--fuente2);
  font-size: 6rem;
  line-height: 100px;
  text-decoration-line:solid #000000 50px ;
}
.agrupar{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  /* background-color: blue; */
  width: 90%;
}
.subrayado{
  border: 3px solid #FDFF0A;
}
.frase2-imagen{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0;
  /* background-color: yellow; */
  width: 90%;
}
.frase4-imagen{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0;
  width: 100%;
  position: relative;
}
  /* animación salad */
  
  .rotate-center{
    -webkit-animation: rotate-center 20s ease-in-out both;
            animation: rotate-center 20s ease-in-out both;
  }
  @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

.estrella-roja{
  position: absolute;
  scale: 80%;
  z-index:-2;
  left: -20px;
  top: -10px;
}

/* ------------------------boton comprar------------------------------------- */
.comprar{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-block-start: 12%;
}
.button{
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 34px;
  background-color: transparent;
  font-family: var(--fuente1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 70px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color:#FDFF0A;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.button:active {
  scale: 1;
}
.movsalad{
  display: none;
}

/* ------------frasecita----------------- */


.frase-estrellas{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}
.textofrase{
  font-family: var(--fuente1);
  font-weight: 400;
  font-size: 1.1em;
  height: 20vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-image: url(/imagenes/grupoamarillostars.svg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 50%;
  width: 100%;
  margin-top: 0;
}

.rotate-scale-down2 {
	-webkit-animation: rotate-scale-down 0.65s linear both;
	        animation: rotate-scale-down 0.65s linear both;
}

 @-webkit-keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
            transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
            transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
/* ---------------------------------------nosotres--------------------------------------- */
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.nosotres{
  display: flex;
  flex-direction:row ;
  align-items: center;
  font-family: var(--fuente2);
  /* font-size: clamp(0.5em, 1em, 1em); */
  font-size: 4em;
  margin-bottom: 5%;
  flex-wrap: nowrap;
}

.foto-local{
  margin-bottom: 5%;
}

.texto-nosotres{
  font-family: var(--fuente1);
  font-variant-caps: all-petite-caps;
  text-align: center;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}
.bola-amarilla{
  position: absolute;
  z-index: -2;

}
.linea-nos{
  width: 31px;
height: 0px;
border: 2px solid #000000;
}

/* <!---------------------REPARTO---------------------------> */
.reparto{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 10%;

}
.moto{
  display: flex;
  align-items: center;
  justify-content: center;

}
.texto-reparto{
  font-family: var(--fuente1);
  font-size: 1em;
  letter-spacing: 0.22em;
  font-weight: 500;
  width: 50%;
  
}
.titular-reparto {
font-weight: bold;

}
.presentacion-desktop{
  display: none;
}

/* --------------------------suscripcion---------------------------------- */
.suscripcion{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.imagen-texto-suscrip{
  display: flex;
  flex-direction: row;
  font-family: var(--fuente1);
  font-weight: bold;
  font-size: 1.5em;
  width: 100%;
  justify-content:center;
  align-items: center;
  column-gap: 5%;
  /* background-color: yellow; */
}
.texto-suscip{
  position: relative;
  top: 0;
 
}
.mancha-suscrip{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 2%;
  scale: 130%;
  
}
.cuerpo-texto-suscrip{
  position: relative;
  display: flex;
  flex-direction: flex;
  font-family: var(--fuente1);
  text-align: center;
  font-size: 1.2em;
  /* background-color: blue; */
  margin-top: 5%;
}
.botones-suscripcion{
  display: flex;
  flex-direction: flex;
  column-gap: 2%;
}
.botones-suscripcion{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin-top:5%;
  font-size: 0.5em;
}

/*--------------------------------------------------FOOTER-------------------------------------------------------*/


.site-footer {
  font-family: "Remboy";
  width: 100%;
  background-color: #B4A8E2;
  /* padding: 45px 0 20px; */
  font-size: 15px;
  /* line-height: 24px; */
  color:var(--letra);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  margin-top: 15%;
  padding-top: 5%;
}


.site-footer hr {
  font-family: "Remboy";
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  font-family: "Remboy";
  margin: 20px 0;
}

.site-footer h6 {
  font-family: "Remboy";
  color: var(--letra);
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  font-family: "Remboy";
  color: var(--letra);
}

.site-footer a:hover {
  color: #fff;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: var(--letra);
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #fff;
  text-decoration: none;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
      margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
      padding-bottom: 0;
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
      text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.logo {
  color: #eb6857;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}



/* ----------------------------------------------QUERYS----------------------------------------------- */

/* ------------------------------Estilos para versión móvil-------------------------------------------- */

@media only screen and (max-width: 767px) {
  .menu{
    display: none;
  }
  .presentacion-desktop {
    display: none;
  }
  .dedonosotres-deskt{
    display: none;
  }
  .localdeskt{
    display: none;
  }
  .ensaladadeskt{
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  .textoestilo{
    font-size: 7rem;
  }
}
  



/*------------------------------- Estilos para versión desktop--------------------------------------- */

@media only screen and (min-width: 768px) {
  .header{
    /* background-color: yellow; */
    width: 90%;
    align-items: left;
  }
  .menu{
    display: flex;
    column-gap: 8%;
  
  }
  .menu-deskt{
    font-family: var(--fuente1);
    font-size: 1.2em;
    border: none;
    background-color: transparent;
  }
  .presentacion-mov{
    display: none;
  }
  .localmov{
    display: none;
  }
  .ensaladamov{
    display: none;
  }
  .menu-img{
    display: none;
  }
  .manchas-fondo{
    width: 100%;
    height: 60rem;
    background-image: url("/imagenes/manchitas-fondo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  .header{
    margin-top: 0;
    display: flex;
    column-gap: 20%;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  
  }
  .nomb-logo {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 20px;
    padding: 0.4%;
    font-size: 80%;
    font-family: var(--fuente1);
    letter-spacing: .2rem; 
  }

  .presentacion-desktop{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

.frase-1-desktop{
  display: flex;
  flex-direction: column;
  column-gap: 20%;
}

.textoestilo-desktop{
  font-family: var(--fuente2);
  font-size: 6em;
}
.agrupar{
  display: flex;
  justify-content: center;
  column-gap: 3%;
  width: 90%;
}
.subrayado{
  border: 4px solid #FDFF0A;
  transform: rotate(-2.67deg);
}
.frase2-ensalada{
  display: flex;
  flex-direction: row;
  column-gap: 5%;
  width: 90%;
  justify-content: center;

}
.texto-salad{
  position: relative;
  display: flex;
  align-items: left ;
  flex-direction: column;
  z-index: 1;
}
.estrella-roja {
  position: absolute;
  top: 200px;
  scale: 110%;
  z-index: -2;  
  }
  .comprar{
    justify-content: left;
    margin-block-start: 5%;
    width: 120%;
    column-gap: 2%;
    align-items: center;
   }
   .button{
    width: 35%;
    height:80%;
   }
   .frase-estrellas{
    margin-top: 2%;
   }
  .textofrase{
    width: 100%;
    height: 50vh;
    font-size: 2em;
    background-size:70%;
    margin-bottom: 0;
  }
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0;
    object-fit: cover;
  }
  .tamano-desktop{
    scale: 150%;
  }
  .nosotres{
    font-size: 9em; 
  }
  .dedomovil{
    display: none;
  }
  .about{
    margin-top: 2%;
    margin-bottom: 5%;
  }
 .about-display-deskt{
  width: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content:center;
  align-items: center;
 }
 .texto-nosotres{
  width: 40%;
  font-size: 1.5em;
  margin-top: 0%;
  margin-bottom: 0%;
  }
  .linea-nos{
  display: none;
}
.foto-local{
  margin-bottom: 0%;
}
.localdeskt{
  margin: 0;
}
.bola-amarilla{
  scale: 150%;
}
.reparto{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.moto{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5%;
}
.texto-reparto{
  font-family: var(--fuente1);
  font-size: 1em;
  text-align: center;
  letter-spacing: 0.22em;
  font-weight: 500;
  width: 50%;
}
.iconos{
  scale: 220%;
  margin-bottom: 11%;
}
.texto-reparto p{
  margin-top: 11%;
}

.suscripcion{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.imagen-texto-suscrip{
  display: flex;
  flex-direction: row;
  font-family: var(--fuente1);
  font-weight: bold;
  font-size: 3em;
  width: 100%;
  justify-content:center;
  align-items: center;
  column-gap: 5%;
  /* background-color: yellow; */
}
.texto-suscip{
  position: relative;
  top: 0;
}
.mancha-suscrip{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 10%;
  scale: 180%;
}
.cuerpo-texto-suscrip{
  font-size: 2em;
}
.botones-suscripcion{
  display: flex;
  flex-direction: flex;
}

.botones-suscripcion{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30%;
  margin-top:3%;
}
.footer{
  margin-top: 0;
}


}
/*------------------------------- FIN Estilos para versión desktop--------------------------------------- */